<section class="signup">
   <header class="page-header">
    <h1>Sign Up!</h1>
  </header>

  
    <%= form_for :user, url: '/users' do |f| %>
      <% flash.each do |type, msg| %>
        <div class="alert alert-danger">
          <% msg.split(', ').each do |error| %>
            <strong><%= error %><br></strong>
          <% end %>
        </div>
      <% end %>

      <div class="form-group signup-form">
        First Name: <%= f.text_field :first_name, class: 'form-control signup-input' %>
        Last Name: <%= f.text_field :last_name, class: 'form-control signup-input' %>
        Email: <%= f.text_field :email, class: 'form-control signup-input' %>
        Password: <%= f.password_field :password, class: 'form-control signup-input' %>
        Password Confirmation: <%= f.password_field :password_confirmation, class: 'form-control signup-input' %>
        <%= f.submit "Submit", class: 'btn btn-primary signup-btn' %>
      <div>
    <% end %>
  
</section>